<%- include('./partials/head') %>

<h2>Students</h2>
<!-- <ul>
  <% persons.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul> -->
<ul>
  <% persons.forEach(person => {
      if(person.squad_id == 3) {%>
        <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }}) %>
</ul>

<!-- <main>
  <ul>
    <li>

    </li>
  </ul>
</main> -->

<%- include('./partials/foot') %>