<!-- Hier word de header geinclude -->
<%- include('./partials/head') %>

<main class="main">

  <!-- Filtering -->
  <!-- <label for="filter">Filter by</label>
  <select name="filter">
    <option value="student">Student</option>
    <option value="teacher">Teacher</option>
    <option value="has_avatar">With avatar</option>
    <option value="no_avatar">Without avatar</option>
  </select> -->

  <!-- Sorting -->
  <!-- <label for="sort">Sort by</label>
  <select name="sort">
    <option value="a-z">A-Z</option>
    <option value="z-a">Z-A</option>
    <option value="id">By ID</option>
  </select> -->

  <ul class="main__list">

    <!-- Dit is een loop die eigenlijk zegt dat alle HTML uitgevoerd moet worden voor
         elke persoon, maar alleen als deze person squad ID 3 heeft. -->
    <% persons.forEach(person => {
      if(person.squad_id == 3) {%>

    <li>
      
      <div class="main__card--container">
        <div class="main__card--positioning">

          <!-- Front -->
          <div class="main__card--front main__card">
            <img class="main__card--background" src="<%= (person.avatar == '') ? 'assets/placeholder.jpg' : person.avatar %>" onerror="this.src='assets/placeholder.jpg'">
            <h1 class="main__card--name"><%= person.name %> <%= person.prefix %> <%= person.surname %></h1>
            <h2 class="main__card--nickname"><%= person.nickname %></h2>
          </div>
    
          <!-- Back -->
          <div class="main__card--back main__card">
            <h3 class="main__card--subtitle">About me</h3>
            <a class="main__card--link" href="/person/<%= person.id %>">Click here!</a>
            <h3 class="main__card--subtitle">My website</h3>
            <a class="main__card--link" href="<%= person.website %>">Click here!</a>
            <h3 class="main__card--subtitle">My Github</h3>
            <p class="main__card--text"><%= person.github_handle %></p>
          </div>

        </div>
      </div>

    </li>
    <% }}) %>

  </ul>
</main>

<!-- Hier word de foot geinclude -->
<%- include('./partials/foot') %>