<%- include('./partials/head') %>

<main class="main">
  <ul class="main__list">

    <% persons.forEach(person => {
      if(person.squad_id == 3) {%>

    <li>
      
      <div class="main__card--container">
        <div class="main__card--positioning">

          <!-- Front -->
          <div class="main__card--front main__card">
            <img class="main__card--background" src="<%= (person.avatar == '') ? 'assets/placeholder.jpg' : person.avatar %>" onerror="this.src='assets/placeholder.jpg'">
            <h1 class="main__card--name"><%= person.name %> <%= person.prefix %> <%= person.surname %></h1>
            <h2 class="main__card--nickname"><%= person.nickname %></h2>
          </div>
    
          <!-- Back -->
          <div class="main__card--back main__card">
    
          </div>

        </div>
      </div>

    </li>
    <% }}) %>

  </ul>
</main>

<%- include('./partials/foot') %>