<!-- Hier word de header geinclude -->
<%- include('partials/head') %>

<main class="person__main">

	<a class="person__back" href="/"><img src="/assets/back.svg">Back</a>

	<!-- 1 | Foto -->
  <section class="person__left">
		<div class="person__avatar--overlay">
			<h1 class="person__name"><%= person.name %> <%= person.prefix %> <%= person.surname %></h1>
			<h2 class="person__nickname"><%= person.nickname %></h2>
		</div>
		<img class="person__avatar" src="<%= (person.avatar == '') ? '/assets/placeholder.jpg' : person.avatar %>" onerror="this.src='/assets/placeholder.jpg'">
  </section>

	<!-- 2 | About me -->
	<section class="person__aboutme">
		<h3>About me</h3>
		<p><%= person.bio %></p>
	</section>

	<!-- 3 | Berichtenbord -->
  <section class="person__right">

		<section class="person__messages">
			<h3>Berichtenbord</h3>
			<ul class="person__messages--box">
				<% messages.forEach(message => { %>
					<li><%= message %></li>
				<% }) %>
			</ul>
		</section>

		<form class="person__form" method="post" action="/person/<%= person.id %>">
			<h3 for="input">Laat een berichtje achter!</h3>
			<textarea name="textbox" placeholder="Begin met typen..." required></textarea>
			<button type="submit">Verstuur</button>
		</form>
  </section>
</main>

<!-- Hier word de foot geinclude -->
<%- include('partials/foot') %>